{% extends 'base.html' %}

{% block content %}
  {% if user.is_authenticated %}
    <h1>You have been successfull unsubscribed!</h1>
    <form id="feedback_form" method="POST" action="{% url 'leave.feedback' %}">
      {% csrf_token %}
      {{ form.feedback.label }}
      {{ form.feedback }}
      <input type="hidden" name="user" value="{{ user.id }}">
      <button id="submit-button">Submit</button>
    </form>

  {% endif %}
  <script>
  $(document).ready(function() { 
    $('#submit-button').on( "click", function() {

      $("#feedback_form").submit(function(e)
      {
          var formURL = '{% url "leave.feedback" %}';
          var postData = $(this).serializeArray();
          $.ajax(
          {
              url : formURL,
              type: "POST",
              data : postData,
              success:function(data, textStatus, jqXHR) 
              {
                  console.log('Success');
              },
              error: function(jqXHR, textStatus, errorThrown) 
              {
                  console.log('Fail');
              }
          });
          e.preventDefault(); //STOP default action
      });
       
    });
  });
  </script>
{% endblock content %}