<!DOCTYPE html>
<html>
<head>
  <title>Unsybscribe</title>
  <script src="http://code.jquery.com/jquery-latest.min.js"
        type="text/javascript"></script>
</head>
<body>
  {% block content %}{% endblock content %}
</body>
</html>